<h1>Address Book</h1>

<center>
<%= image_tag("contacts4.png", :alt => "Contacts Image", :class => "contact_Pic") %>
</center>

<center>
<%= form_for :welcome do |f| %>
    <p>
        <%= link_to '<button type="button", button style="height:75px;width:200px" >Create Account</button>'.html_safe, account_createAccount_url %>
    
        <%= link_to '<button type="button", button style="height:75px;width:200px" >Log In</button>'.html_safe, account_logIn_url %>
    </p>
<% end %>
</center>