<h1>Address Book</h1>

<%= image_tag("contacts.PNG", :alt => "Contacts Image") %>

<%= form_for :welcome do |f| %>
    <p>
        <%= f.button :Create_Account %>
    </p>
    
    <p>
        <%= f.button :Log_In %>
    </p>
    <% end %>