<h1>Address Book</h1>

<center>
<%= image_tag("contacts4.png", :alt => "Contacts Image", :class => "contact_Pic") %>
</center>

<center>
<%= form_for :welcome do |f| %>
    <p>
        <%= f.button :Create_Account, :class => "button" %>
    
        <%= f.button :Log_In, :class => "button" %>
    </p>
<% end %>
</center>