<body>
   
<!-- Side navigation -->
<div class="sidenav">
  <a href="#">A</a>
  <a href="#">B</a>
  <a href="#">C</a>
  <a href="#">D</a>
  <a href="#">E</a>
  <a href="#">F</a>
  <a href="#">G</a>
  <a href="#">H</a>
  <a href="#">I</a>
  <a href="#">J</a>
  <a href="#">K</a>
  <a href="#">L</a>
  <a href="#">M</a>
  <a href="#">N</a>
  <a href="#">O</a>
  <a href="#">P</a>
  <a href="#">Q</a>
  <a href="#">R</a>
  <a href="#">S</a>
  <a href="#">T</a>
  <a href="#">U</a>
  <a href="#">V</a>
  <a href="#">W</a>
  <a href="#">X</a>
  <a href="#">Y</a>
  <a href="#">Z</a>
</div>
    
    
<div class='newContact'>

    <p>
      <%= link_to 'Create New Contact', contacts_new_url %>
    </p>

</div>

<div class="topnav">
  <input type="text" placeholder="Search..">
</div>
<center>
<h1 class="title">Contacts List</h1>
<h2>Contacts</h2>
<% current_user.contacts.each do |contact| %>
  <p>
    <strong>Name:</strong>
    <%= contact.name %>
  </p>
 
  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>
<% end %>
</center>
</body>