<h1>Create Account</h1>
<center>
<form>
  First name:<br>
  <input type="text" name="firstname"><br>
  
  Last name:<br>
  <input type="text" name="lastname"><br>
  
  Email:<br>
  <input type="text" name="email"><br>
  
  Password:<br>
  <input type="text" name="password"><br>
  
  Confirm Password:<br>
  <input type="text" name="confirmPassword"><br>
	
    <input type="submit" value="Submit">
    <%= link_to '<button type="button">Cancel</button>'.html_safe, welcome_index_url %>
</form>
</center>