<h1>Log In</h1>
<center>
<form>
  Email:<br>
  <input type="text" name="email"><br>
  
  Password:<br>
  <input type="text" name="password"><br>
	
    <input type="submit" value="Submit">
    <%= link_to '<button type="button">Cancel</button>'.html_safe, welcome_index_url %>
</form>
</center>