// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    font-size: 30px;
    color: black;
    text-align: center;
}

.contact_Pic {
    height: 300px;
    width: 300px;
    text-align: center;
}

.button {
    padding: 15px;
    margin: 10px;
    padding: 30px;
    background-color: #EEDD82;
    width: 300px;
}

body {
    background-color: #FDBB0C;
}